<!DOCTYPE html>
<html>

<head>
	<title>
		<%= appName %>
	</title>
	<meta name="viewport"
		content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="theme-color" content="#000000">

	<link rel="manifest" href="/public/manifest.json">
	<link rel="icon" type="image/svg+xml" href="/public/favicon.svg">

	<% if (iconMenuUrl) { %>
	<link id="main-menu-icon" rel="preload" href="<%= iconMenuUrl %>" as="image">
	<% } else { %>	
	<link id="main-menu-icon">	
	<% } %>	


	<% if (fgta5jsDebugMode) { %>
		<!-- DEBUG MODE <%=libDebug%>-->
		<%- include(libDebug) %>
	<% } else { %>
		<!-- PRODUCTION <%=libProduction%>-->
		<%- include(libProduction) %>
	<% } %>


	<!-- WebModule library-->
	<script src="public/lib/fgta5app/module.js" defer></script>
	<link rel="stylesheet" href="public/lib/fgta5app/module.css" />

	<!-- Container CSS -->
	<link rel="stylesheet" href="public/modules/container/container.css" />
	<link rel="stylesheet" href="public/local/application.css" />

	<style>
		#loadingindicator {
			position: fixed;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			display: flex;
			justify-content: center;
			align-items: center;
			background-color: #fff;
			transition: opacity 0.5s ease, visibility 0.5s ease;
		}
	</style>

	<style>
		@import url("public/lib/fonts/karla.css");

		* {
			font-family: "Karla";
		}

		input {
			user-select: text;
		}

		dialog {
			outline: none;
		}

		body {
			background-color: white;
			overscroll-behavior-y: contain;
			user-select: none;
			padding: 0px;
			margin: 0px;
			overscroll-behavior: contain;
			font-size: 14px;
		}

		/* khusus mobile */
		@media screen and (max-width: 500px) {

			html,
			body,
			input,
			button {
				font-size: 20px;
			}
		}
	</style>

</head>

<body>
	<div id="loadingindicator">
		<div style="font-family: system-ui, sans-serif">
			loading module...
		</div>
	</div>
	<main id="mainapp">
		<%- include(`${rootPath}/public/modules/container/container.html`) %>
	</main>
</body>


<script type="module">
	import Container from './public/modules/container/container.mjs'

	function removeLoadingIndicator() {
		const mainapp = document.getElementById('mainapp')
		const pagemask = document.getElementById('loadingindicator')
		mainapp.classList.remove('hidden')
		setTimeout(() => {
			pagemask.style.opacity = 0
			pagemask.style.visibility = 'hidden'
			setTimeout(() => {
				pagemask.parentNode.removeChild(pagemask)
			}, 500)
		}, 50)
	}


	async function Start() {
		window.addEventListener("load", async (event) => {
			try {
				const $app = new Container();
				await $app.main();
			} catch (err) {
				console.error(err)
				const mainapp = document.getElementById('mainapp')
				mainapp.innerHTML = '<div><h1 style="color:red">Module Error</h1><div>' + err.message + '</div></div>'
			} finally {
				removeLoadingIndicator()
			}
		});
	}

	Start()

</script>

</html>